<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adminfly - {% block title %}Home{% endblock %}</title>
    {% include 'partials/meta.twig' with { theme: 'minty' } %}
</head>
<body>
{% include 'partials/menu/' ~ default(menu, 'main') ~ '.twig' %}
<div class="container">
    {% include 'partials/flash/validation.twig' %}
    {% include 'partials/flash/message.twig' %}
    {% block content %}{% endblock %}
</div>
{% include 'partials/js.twig' %}
</body>
</html>
