{% if errors.hasErrors() %}
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 class="alert-heading">Validation Errors!</h4>
        <ul>
            {% for error in errors.getFieldErrors() %}
                <li>
                    <b>{{ error.getField() }}</b>: {{ error.getDefaultMessage() }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}