{% extends '../layout/main.twig' %}
{% block content %}
    <div class="card text-white bg-danger mb-3">
        <div class="card-header">Error Page</div>
        <div class="card-body">
            <h4 class="card-title">{{ name }}</h4>
            <p class="card-text">{{ message }}</p>
        </div>
    </div>
{% endblock %}