{% extends '../layout/main.twig' %}
{% block content %}
    <div class="page-header mb-4">
        <h1 id="tables">Domains</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card border-light mb-3">
                <div class="card-header">List</div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Domain</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for domain in domains %}
                            {% set edit = '/domain/edit/' ~ domain.id %}
                            <tr>
                                <td>{{ domain.name }}</td>
                                <td>{{ domain.domain }}</td>
                                <td>
                                    <button type="button" onclick="location.href='{{ edit }}'"
                                            class="btn btn-sm btn-primary float-right">Edit
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <form method="post" action="/domains/process" class="form-inline my-2 my-lg-0 float-right">
                        <input class="form-control mr-sm-2 form-control-sm" type="text" name="name"
                               placeholder="name">
                        <input class="form-control mr-sm-2 form-control-sm" type="text" name="domain"
                               placeholder="domain.com">
                        <button class="btn btn-secondary btn-sm my-2 my-sm-0" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}