<div class="card-header">
    <div class="btn-group btn-group-sm" role="group">
        <button onclick="location.href='/mdbv/sources'" type="button" class="btn btn-secondary">{{ 'label.source' | translate }}</button>
        <button onclick="location.href='/mdbv/paths'" type="button" class="btn btn-secondary">{{ 'label.paths' | translate }}</button>
    </div>
    <button onclick="location.href='/mdbv/records'" type="button" class="btn btn-sm btn-success">{{ 'label.records' | translate }}</button>
</div>