<div class="card-header">
    <div class="btn-group btn-group-sm" role="group">
        <button onclick="location.href='/mdbv/routing'" type="button" class="btn btn-primary">{{ 'label.routing' | translate }}</button>
        <button onclick="location.href='/mdbv/records'" type="button" class="btn btn-primary">{{ 'label.records' | translate }}</button>
    </div>
</div>