<div class="card-header">
    <div class="btn-group btn-group-sm" role="group">
        <button onclick="location.href='/posts/create'" type="button" class="btn btn-primary">{{ 'label.create' | translate }}</button>
        <button onclick="location.href='/posts/categories'" type="button" class="btn btn-primary">{{ 'label.categories' | translate }}</button>
        <button onclick="location.href='/posts/domains'" type="button" class="btn btn-primary">{{ 'label.domains' | translate }}</button>
    </div>
</div>