{% macro pagination (total, limit, current, prefix) %}
    {% set pages = round(total / limit, 'CEIL') %}
    <div class="btn-group" role="group">
        {% for page in [1..pages] %}
            {% set link = prefix ~ page %}
            <button onclick="location.href='{{ link }}'" type="button"
                    class="btn btn-secondary {% if current == page %}active{% endif %}">{{ page }}</button>
        {% endfor %}
    </div>
{% endmacro %}